@model aspnet48sample.Models.DataModel
@{
    ViewBag.Title = "Home";
}

<div>
    <h2>Hello @Model.MachineName</h2>

    <h3>Summary</h3>
    <code>
        <b>IP Addresses</b>: @Model.IpAddress<br />
        <b>COMPUTERNAME</b>: @Model.MachineName<br />
        <b>OS</b>: @Model.EnvironmentVariables.First(x => x.Key == "OS").Value<br />
        <b>ASP.NET Version</b>: @Model.AspNetVersion<br />
    </code>

    <h3>Environment variables</h3>
    <code>
        @foreach (var item in Model.EnvironmentVariables)
        {
            <b>@item.Key</b><span>=</span>@item.Value<br />
        }
    </code>

    <h3>Server variables</h3>
    <code>
        @foreach (var item in Model.ServerVariables)
        {
            <b>@item.Key</b><span>=</span>@item.Value<br />
        }
    </code>
</div>